{{ define "main" }}
<div class="blog_info">
	<div class="blog_description">
		Published on: <time>{{ .PublishDate.Format "2 January, 2006" }}</time> |
		{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }} read
		<br>

		{{ if gt .Params.categories 0 }}
		<br>
		<div class="blog_categories_and_tags">
			<label>Categories:</label>
			<label>Tags:</label>
			<div>
				{{ range $index, $value := .Params.categories }}
				{{ if gt $index 0 }}{{ print ", " }}{{ end }}
				<a class="category-link" href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}">{{ $value }}</a>
				{{ end }}
			</div>
			{{ end }}
			{{ if isset .Params "tags" }}
			<div>
				{{ range $index, $value := .Params.tags }}
				{{ if gt $index 0 }}{{ print ", " }}{{ end }}
				<a class="tag-link" href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}">{{ $value }}</a>
				{{ end }}
			</div>
		</div>
		{{ end }}
	</div>
</div>

<article>
	<div class="blog_container">
		<div class="blog_details">
			<h1>{{ .Title }}</h1>
		</div>
		<div class="details">
			{{ .Content }}
		</div>
	</div>
</article>

<div class="blog_info">
	<div class="blog_description">
		By {{ .Site.Author.name }}<br>
		{{ if isset .Params "lastmod" }}
		Last modified: <time>{{ .Params.lastmod.Format "2 January, 2006" }}</time><br>
		{{ end }}
	</div>
	<a class="back_to_top" href="#top">Back to top</a>
</div>

<!-- {{- partial "chat.html" . -}} -->
{{ end }}
