
.root {
        display: flex;
        justify-content: center;
        background-color: slategray;
        font-size: 2em;
}

.border {
        padding: 5px;
        background-color: black;
}

.gameboard {
        width: 80vw;
        min-width: 100px;
        max-width: 800px;
        min-height: 100px;
        max-height: 800px;
        aspect-ratio: 1;
        display: flex;
        flex-wrap: wrap;
}

.square {
        min-width: 10px;
        max-width: 100px;
        min-height: 10px;
        max-height: 100px;
        width: 10vw;
        aspect-ratio: 1;
}

.color-white {
        background-color: #aa9;
}

.color-black {
        background-color: #801;
}

.color-white.highlighted.previousMove {
        background-color: #a7f;
}

.color-black.highlighted.previousMove {
        background-color: #96e;
}

.color-white.previousMove {
        background-color: #75c;
}

.color-black.previousMove {
        background-color: #63c;
}

.color-white.highlighted {
        background-color: #f57;
}

.color-black.highlighted {
        background-color: #e24;
}

