<footer>
	<noscript>
		Website footer. You currently have javascript disabled.
	</noscript>
	<button id="nukeBtn" class="button warning">Delete all cookies</button>

	<dialog id="nukeDialog">
		<h2>Are you sure you want to delete all cookies?.</h2>
		<form method="dialog">
			<p>
				<label id="nukeLabel">Note: This will also remove every consent for every third-party service you accepted to use.</label>
			</p>
			<button id="cancelBtn">Cancel</button>
			<button id="confirmBtn">Confirm</button>
		</form>
	</dialog>

	<dialog id="nuke2Dialog">
		<h2>All cookies have been deleted.</h2>
		<form method="dialog">
			<p>
				The page will now refresh, in order to apply all changes.
			</p>
			<button>Close</button>
		</form>
	</dialog>

	<script type="module" src="{{ absURL "js/nukeDialog.js" }}"></script>
	<script type="module" src="{{ absURL "js/fakeInterruption.js" }}"></script>
</footer>
